# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual environments
venv/
.env
.python

# Jupyter and data
.ipynb_checkpoints/

# OS
.DS_Store

# outputs and models (optional)
outputs/
*.pkl
